body{
background:#121212;
color:white;
font-family:Arial;
margin:0;
}

.app{
display:flex;
height:100vh;
}

.sidebar{
width:240px;
background:#000;
padding:20px;
}

.main{
flex:1;
padding:30px;
overflow:auto;
}

.albums{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.album{
background:#181818;
padding:20px;
border-radius:8px;
}

.player{
position:fixed;
bottom:0;
width:100%;
background:#181818;
height:90px;
display:flex;
align-items:center;
justify-content:space-between;
padding:20px;
}
.playlist-card{
background:#181818;
padding:16px;
border-radius:8px;
transition:0.2s;
cursor:pointer;
}

.playlist-card:hover{
background:#282828;
}

.playlist-card img{
width:100%;
border-radius:6px;
margin-bottom:12px;
}

.playlist-card h3{
font-size:16px;
margin-bottom:5px;
}

.playlist-card p{
color:#b3b3b3;
font-size:14px;
}
.song-row{
display:grid;
grid-template-columns:40px 50px 1fr 80px;
align-items:center;
gap:15px;
padding:10px;
border-radius:6px;
}

.song-row:hover{
background:#2a2a2a;
}

.song-row img{
width:40px;
height:40px;
}
.image-container{
position:relative;
}

.play-button{
position:absolute;
bottom:10px;
right:10px;
background:#1db954;
border:none;
border-radius:50%;
width:45px;
height:45px;
color:white;
font-size:18px;
display:none;
}

.playlist-card:hover .play-button{
display:block;
}
.controls{
display:flex;
flex-direction:column;
align-items:center;
}

.progress{
width:400px;
height:4px;
background:#444;
border-radius:2px;
margin-top:6px;
}

.progress-bar{
width:30%;
height:100%;
background:#1db954;
}